
.nov1 article{
	line-height: 1.8em;
}
.nov2 {
	margin-top: 24px;
}
.nov2 .list-group a{display: block;overflow: hidden;
	border: none;margin: 0;width: 100%;height: 100%;
	border-bottom: 1px dashed rgb(204,204,204);
}
#roll{
	margin-top: 24px;
}

.nov2_right{
	font-size: 1.2em;line-height: 2.4em;padding-left: 5px;
	background: rgb(255,102,55);margin-bottom: 10px;
}
.list_img p{
	text-align: center;
}

/*轮播*/
.roll_centa{
	position: relative;overflow: hidden;
	min-height: 200px;padding:0;margin-left: 30px;
}
#roll{
	position: absolute;z-index: 1;width: 500%;left: -100%;}
#roll img{float: left;}
#buttons{
	position: absolute;height: 10px;width: 100px;z-index:2; bottom:20px;left: 45%;
}
#buttons span{
	cursor: pointer;float: left;border:1px solid #fff;
	width: 10px;height: 10px;border-radius: 5px;margin-left: 5px;
}
#buttons .on{ background:orangered;}
.arrow{
	cursor:pointer;display: none;line-height: 40px;text-align: center;
	font-size: 36px;font-weight: bold;width: 40px;height: 40px;color: #fff;
	position: absolute;z-index:2;top: 45%; background-color: rgba(0,0,0,.3);
}
.arrow:hover{background-color: rgba(0,0,0,.7);text-decoration: none;}
.roll_centa:hover .arrow{display: block;}
#prew{left: 20px;}
#next{right: 20px;}
