.discuss_list{
	border-bottom : 1px solid rgb(204,204,204);
}

.user_img{
	margin-top: 5px;
	width: 60%;
	background: rgb(251,251,253);
} 
.user_name{
	margin-top: 5px;
	color: rgb(45,100,179);
}
.user_speak{
	margin-top: 5px;
}